#navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #000;
    padding: 0 15px;
}
.nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}
.nav li a {
    display: block;
    padding: 15px 5px;
}
.ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.logo{
    order: 0;
    flex: 1;
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    text-align: center;
    padding: 10px;
}
.item.button {
    width: auto;
    order: 1;
    display: block;
    padding: 9px 5px;
    margin-right: 20px;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    background-image: linear-gradient( 
180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid #fff;
}
h1, h2 {
    font-weight: 700;
    text-align: center;
    color:#fff;
}
.welcome-section p{
    color: black;
    font-size: 2rem;
    
}
h1{
    font-size: 6rem;
}
h2 {
    font-size: 4.2rem;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project {
    background: #000;
    border-radius: 10px;
}
.project-image {
    width: 100%;
    object-fit: cover;
}
.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color: #FFFFFF;
    background-image: linear-gradient( 
180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #000;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#fff;
}